<div class="row">
    <div class="col-sm-11  text-center">
      <div class="panel panel-default">
      <div class="panel-heading text-center">
          <h6 class= "text-center text-primary">New Currency Setup</h6>
      </div>
      <div class="panel-body">
          <form >
          <input name="user_id" type="hidden" value="7">
            <br/><br/>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-sm">
                  <label for="Origin">Origin</label>
                  <input class="form-control col-md-12 btn-block" placeholder="Origin Name" required="required" name="origin" type="text" value="United Kingdom">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-sm">
                  <label for="Origin Symbol To">Origin Symbol</label>
                  <input class="form-control col-md-12 btn-block" placeholder="Origin Symbol" required="required" id="origin_symbol" name="origin_symbol" type="text" value="UK">
                </div>
              </div>
            </div>
            <p></p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-sm">
                  <label for="Destination">Destination</label>
                  <input class="form-control col-md-12 btn-block" placeholder="Country Destination" required="required" name="destination" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-sm">
                  <label for="Destination Symbol">Destination Symbol</label>
                  <input class="form-control col-md-12 btn-block" placeholder="Destination Symbol" required="required" id="destination_symbol" name="destination_symbol" type="text">
                </div>
              </div>
            </div>
            <p><p>	
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-sm">
                  <label for="Currency Code">Currency Code</label>
                  <input class="form-control col-md-12 btn-block" placeholder="Currency" required="required" id="code" name="code" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-sm">
                  <label for="Income Category">Income Category</label>
                  <select class="form-control col-md-12 btn-block" required="required" name="income_category"><option value="commission">commission</option><option value="profit">profit</option></select>
                </div>
              </div>
              
            </div>
            <p>	</p>
            <div class="row">
               <input class="btn btn-info btn-lg col-md-12 btn-block" type="submit" value="Submit">
            </div>

          </form>

      </div>
    </div>
  </div>
</div>
